body {
    background-color: #dbd7d3 !important;
}

.search {
    width: 360px !important;
}
.main {
    border-radius: 15px;
    background-color: #ffffffba;
}
.img-width {
    width: 80px;
}
.loader {
    border: 16px solid #d1d2d3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none; 
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}